.review-card-container{
  display: flex;
  gap: 20px;
  margin-top: 50px;
  flex-direction: column;
}
.review-card{
  border: 2px solid ;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.review-card-header{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 2px solid ;
  border-radius: 20px 20px 0 0;
}
.review-pfp{
  height: 40px;
  width: 40px
}
.review-name{
  font-size: 16px;
  font-weight: 500;
}
.review-comment{
  font-size: 16px;
  margin: 20px;
}
@media (min-width: 768px) {
  .review-card-container{
    flex-direction: row;
    align-items: stretch;
    max-width: 1000px;
  }
  .review-card{
    width: 100%;
  }
}