.rooms-images-container {
  position: relative;
  width: 250px;
  height: 200px;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  overflow: hidden;
}

.rooms-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev, .next {
  color: black;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}
.prev {
  left: 5px;
}
.next {
  right: 5px;
}
.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(-50%) scale(1.1);
}
