.location-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 20px;
}
.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.location-title{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}
.location-text{
  font-size: 20px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.leaflet-container{
  height: 400px;
  width: 400px;
  border-radius: 30px;
  border: 5px solid ;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 650px) {
  .location-container{
    flex-direction: column;
  }
  .leaflet-container{
    width: 300px;
    height: 300px
  }
}

@media (min-width: 650px) {
  .location-container{
    flex-direction: row;
  }
  .location-title{
    display: flex;
    justify-content: start;
    width: 100%;
  }
  .text-container{
    max-width: 400px;
  }
}