.reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding: 0 50px;
}
.reviews-title{
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  max-width: 600px;
}
.see-more-reviews {
  background-color: #f5f1e6;
  color: #4A403A;
  border: 2px solid #4A403A;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-decoration: none;

}

.see-more-reviews:hover {
  background-color: #4A403A;
  color: #f5f1e6;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.see-more-reviews:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
