.main-header {
  width: 100%;
  height: 70px;
  background-color: #f5f1e6;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.brand-title {
  font-size: 22px;
  font-weight: 600;
  min-width: 300px;
}

.header-nav {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
}

.header-nav a {
  text-decoration: none;
  font-weight: 500;
  color: #4A403A;
}

.header-nav a:hover {
  text-decoration: underline;
}
.button-container{
  min-width: 300px;
  display: flex;
  justify-content: end;
}
.whatsapp-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #25D366;
  color: white;
  padding: 8px 14px;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.whatsapp-btn i {
  color: white;
}

.whatsapp-btn:hover {
  background-color: #1ebe5d;
  transform: scale(1.05);
}

@media (max-width: 810px) {
  .header-nav {
    display: none;
  }
  .main-header{
    justify-content: space-between;
  }
}
@media (max-width: 400px){
  .whatsapp-btn{
    display: none;
  }
  .main-header{
    justify-content: center;
  }
  
}
@media (max-width: 1024px){
  .button-container{
    min-width: 200px;
  }
  .brand-title{
    min-width: 200px;
  }
}
@media (max-width: 600px){
  .button-container{
    min-width: 0px;
  }
  .brand-title{
    min-width: 100px;
  }
}
